doctype html
html
  head
    script(src!='script/admin_script.js')
    link(rel='Stylesheet' type='text/css' href='style/style.css')
    title Bicycle Statistics
  body
    div.content
      h1 Bicycle transactions
      div#table-container

