doctype html
html
  head
    script(src!='https://maps.googleapis.com/maps/api/js?callback=initMap' async defer)
    style.
      #map {
        height: 400px;
        width: 100%;
      }
    script.
      function initMap() {
        var uluru = {lat: 53.216196, lng: 6.566574};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 13,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: {lat: 53.216196, lng: 6.566574},
          map: map,
          label: '3/4',
          title: 'Goats'
        });
      }
    title Bicycles Availability
  body
    div#map