doctype html
html
  head
    script(src!='script/script.js')
    link(rel='Stylesheet' type='text/css' href='style/style.css')
    title Bicycles Availability
  body
    div.content
      h1 Available bicycles
      div.inner(style='height: 95%;')
        div.line
          div.left(style='text-align: center;')
            button#button-available.left(disabled='true') Available Bicycles
            button#button-empty.right Empty Slots
          div.right
        div.line(style='height: 100%;')
          div.left
            div#map
          div.right#info.disabled
            table(style='text-align: left; width: 100%;')
              tr
                th name:
                td#name
              tr
                th #available:
                td#num-available
              tr
                th #empty:
                td#num-empty

